In [2]:
import pandas as pd

In [7]:
bikes = pd.read_csv(r"C:\Users\Marcy\Documents\Entity Coursework\DS109 Python Programming\Lesson8 Python for Data Science\bikes.csv")

In [8]:
bikes.head(7)

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,1/1/2011,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,1/2/2011,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,1/3/2011,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,1/4/2011,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,1/5/2011,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600
5,6,1/6/2011,1,0,1,0,4,1,1,0.204348,0.233209,0.518261,0.089565,88,1518,1606
6,7,1/7/2011,1,0,1,0,5,1,2,0.196522,0.208839,0.498696,0.168726,148,1362,1510

In [3]:
bison = pd.read_csv(r"C:\Users\Marcy\Documents\Entity Coursework\DS109 Python Programming\Lesson8 Python for Data Science\BisonTracking.csv")

In [4]:
bison.head()

  Collection/Population Locality SpecimenNumber  Genus   Species  Length
0                  12 Mile Creek         112916  Bison  antiquus       8
1                  12 Mile Creek         112917  Bison  antiquus       7
2                  12 Mile Creek         112918  Bison  antiquus       7
3                  12 Mile Creek         112919  Bison  antiquus       8
4                  12 Mile Creek         112921  Bison  antiquus       9

In [10]:
#number of rows in dataset
len(bison)

1107

In [12]:
bison.tail()

     Collection/Population Locality    SpecimenNumber  Genus   Species  Length
1102                         Terapa          TERA 403  Bison  antiquus       7
1103                         Terapa          TERA 404  Bison  antiquus       8
1104                         Terapa          TERA 426  Bison  antiquus       9
1105                           WICA        422F7A5179  Bison     bison       7
1106                           WICA  AVID*074*597*636  Bison     bison       7

In [6]:
#columns

In [14]:
len(bison.columns)

5

In [7]:
#how many bison are of the species antiquus?

In [15]:
bison.Species.value_counts()

antiquus        633
bison           435
occidentalis     39
Name: Species, dtype: int64

In [8]:
#What is the mean and standard deviation of length?

In [16]:
bison.Length.describe()

count    1107.000000
mean        7.981030
std         0.808299
min         7.000000
25%         7.000000
50%         8.000000
75%         9.000000
max         9.000000
Name: Length, dtype: float64

In [9]:
#What is the median length of bison?

In [17]:
bison.Length.median()

8.0